{% extends "base_iframe.html"  %}
{% load staticfiles %}
{% block iframe_info  %}
<form class="layui-form batchinput-form"  action="" id="box-form">
    <div class="layui-form-item" >
    <div class="layui-input-inline">
    <label class="layui-form-label">所在省份：</label>
    <div class="layui-input-block" >
    <select name="province" id="province"  lay-filter="myselect">
        <option value="">请选择省份</option>
        <option value="${provincelist.areaId}">${provincelist.fullname}</option>
    </select>
</div>
</div>
</div>

<div class="layui-form-item">
<div class="layui-input-inline">
<label class="layui-form-label">所在城市 ：</label>
<div class="layui-input-block">
<select name="City" id="City" lay-filter="myselect2" >
            </select>
</div>
</div>
</div>
<div class="layui-form-item">
<div class="layui-input-inline">
<label class="layui-form-label">所在区域 ：</label>
<div class="layui-input-block">
<select name="Area" id="Area" lay-filter="myselect3">
            </select>
</div>
</div>
</div>

</form>
{% endblock %}
{% block script_info %}
<script>
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
  form.on('select(myselect)', function(data){
  var areaId=(data.value).replaceAll(",","");
  $.ajax({
                 type: 'POST',
                 url: '{% url 'menu_data' %}',
                 data: {areaId:areaId},
                 dataType:  'json',
                 success: function(data){
                 $("#City").html("");
                   $.each(data, function(key, val) {
                 var option1 = $("<option>").val(val.areaId).text(val.fullname);
                            $("#City").append(option1);
                            form.render('select');
                        });
               $("#City").get(0).selectedIndex=0;
                 }
         });
});
})
</script>
{% endblock %}
