{% extends "base_iframe.html"  %}
{% load staticfiles %}
{% block iframe_info  %}
    <div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 20% 0 20%;">
        <div class="layui-form-item">
            {% for group in group %}
                <input class="layui-input" type="text" name="id" value="{{ group.id }}" style="display:none">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i style="color: red"> * </i>角色名称</label>
                    <div class="layui-input-block">
                        <input class="layui-input" name="name" lay-verify="required" value="{{ group.name }}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色描述</label>
                    <div class="layui-input-block">
                        <textarea type="text" name="describe" autocomplete="off" class="layui-textarea">{{ group.describe }}</textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn" lay-submit lay-filter="LAY-group-edit-submit" id="LAY-group-edit-submit">提交</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}
{% block script_info  %}
<script>
    layui.config({
        base: '{% static "/layuiadmin/" %}'
    }).extend({
        index: '/lib/index'
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form ;
    })
</script>
{% endblock %}