{% extends "base_iframe.html"  %}
{% load staticfiles %}
{% block iframe_info  %}
    <div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 10% 0 20%;">
        <div class="layui-form-item">
            {% for info in user %}
            <label class="layui-form-label"><i style="color: red"> * </i>登录名</label>
            <input class="layui-input" type="text" name="id" value="{{ info.id }}" style="display:none">
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="username" lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input" value="{{ info.username }}" >
            </div>
            <label class="layui-form-label"><i style="color: red"> * </i>角色</label>
            <div class="layui-input-inline" style="width: 30%">
                <select name="role">
                    <option value="">请选择</option>
                    {% for role in role_info %}
                        {% if role.name == info.role %}
                            <option value="{{ info.role }}" selected="selected">{{ info.role }}</option>
                        {% else %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i style="color: red"> * </i>员工姓名</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="employee_name" lay-verify="required" placeholder="请输入员工名称" autocomplete="off" class="layui-input" value="{{ info.employee_name }}" >
            </div>
            <label class="layui-form-label"><i style="color: red"> * </i>性别</label>
            <div class="layui-input-inline" style="width: 30%">
                {% if info.sex == "男" %}
                    <input type="radio" name="sex" value="男" title="男" checked="">
                    <input type="radio" name="sex" value="女" title="女">
                    <input type="radio" name="sex" value="保密" title="保密">
                {% elif info.sex == "女" %}
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女" checked="">
                    <input type="radio" name="sex" value="保密" title="保密">
                {% else %}
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女">
                    <input type="radio" name="sex" value="保密" title="保密" checked="">
                {% endif %}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i style="color: red"> * </i>手机号码</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="phone" lay-verify="phone" placeholder="请输入号码" autocomplete="off" class="layui-input" value="{{ info.phone }}" >
            </div>
            <label class="layui-form-label"><i style="color: red"> * </i>邮箱</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" value="{{ info.email }}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工职称</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="position" placeholder="请输入职位" autocomplete="off" class="layui-input" value="{{ info.position }}" >
            </div>
            <label class="layui-form-label">部门</label>
            <div class="layui-input-inline" style="width: 30%">
                <select name="department">
                    <option value="">请选择</option>
                    {% for department in department_info %}
                        {% if department.department_name == info.department %}
                            <option value="{{ info.department }}" selected="selected">{{ info.department }}</option>
                        {% else %}
                            <option value="{{ department.department_name }}">{{ department.department_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">在职状态</label>
            <div class="layui-input-inline" style="width: 30%">
                {% if info.job_status == "在职" %}
                    <input type="radio" name="job_status" value="在职" title="在职" checked="">
                    <input type="radio" name="job_status" value="离职" title="离职">
                {% else %}
                    <input type="radio" name="job_status" value="在职" title="在职">
                    <input type="radio" name="job_status" value="离职" title="离职" checked="">
                {% endif %}
            </div>
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-inline" style="width: 30%">
                <select name="jobs_name">
                    <option value="">请选择</option>
                    {% for jobs in jobs_info %}
                        {% if jobs.name == info.jobs_name %}
                            <option value="{{ info.jobs_name }}" selected="selected">{{ info.jobs_name }}</option>
                        {% else %}
                            <option value="{{ jobs.name }}">{{ jobs.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
            <div class="layui-form-item">
            <label class="layui-form-label">直属上级</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="superior" placeholder="请输入上级领导名称" autocomplete="off" class="layui-input" value="{{ info.superior }}" >
            </div>
            <label class="layui-form-label">助理</label>
            <div class="layui-input-inline" style="width: 30%">
                <input type="text" name="administration" placeholder="请输入行政人员名称" autocomplete="off" class="layui-input" value="{{ info.administration }}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">个人简介</label>
            <div class="layui-input-block" style="width: 70%;">
                <textarea placeholder="请输入内容" class="layui-textarea" name="profile">{{ info.profile }} </textarea>
            </div>
        </div>
        {% endfor %}
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-user-back-submit" id="LAY-user-back-submit" value="确认">
        </div>
  </div>
{% endblock %}
{% block script_info %}
<script>
    layui.config({
        base: '{% static "/layuiadmin/" %}'
    }).extend({
        index: '/lib/index'
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form ;
    })
</script>
{% endblock %}